body {
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.360);
}

#dados{
    text-align: center;
}
    
#dados input{
    outline: none;
    padding: 8px;
    border: none;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    
}

#dados button{
    cursor: pointer;
    padding: 8px;
    border: none;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
}

#dados button:hover{
    background-color: #b2bec3;
}

#res{
    margin-top: 20px;
    text-align: center;
}




footer{
    color: white;
    text-align: center;
    font-style: italic;


}
